<ul class="workers-list">
  {{#each model as |worker|}}
    <li>{{link-to worker.fullName "workers.show" worker class="lnk lnk-worker-show"}}
    <a href="#" {{action "deleteRecord" worker}} class="lnk lnk-worker-delete">Удалить</a></li>
  {{/each}}
</ul>
<a href="#" {{action "clearStorage"}} class="lnk lnk-worker-clear">Очистить</a>
